
<link rel="stylesheet" type="text/css" href="modules/AddonBoilerplate/includes/assets/css/addonboilerplate.css">

<div class="nav nav-success" id="addonboilerplate-setup-status">
</div>

<div class="container-fluid main-panel">
    <div class="setup-steps">
        <a id="addonboilerplate-setup-step1" class="goToStep" data-step="1"><span class="badge">1</span> Connect</a>
        <a id="addonboilerplate-setup-step2" class="goToStep" data-step="2"><span class="badge">2</span> Schedule</a>
        <a id="addonboilerplate-setup-step3" class="goToStep" data-step="3"><span class="badge">3</span> Configure</a>
        <a id="addonboilerplate-setup-step4" class="goToStep" data-step="4"><span class="badge">4</span> All Done!</a> 
    </div>

    <div class="row-fluid content-panel">
        <div class="span12">

