
{{> setup.header }}

<div class="setup-body">

    Done! You should really redirect somewhere else instead to get the user using your add-on right away.
    
    <br/><br/>
    <div class="button-footer pull-right">
        <button class="previousStep btn-link">Previous</button>
        <button class="setupComplete btn btn-success">Done</button>
    </div>
    <div class="clearfix"></div>
</div>

{{> setup.footer }}
