

{{> setup.header }}

<div class="setup-body">
    
    <div class="form-inline">
        <p>This setting means nothing, but choose a value anyway.</p>

        <div class="form-group">
            <label for="my_config">My config</label>
            <select name="my_config" id="my_config" class="width-inherit form-control">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        
        <div class="button-footer pull-right">
            <button class="previousStep btn-link">Previous</button>
            <button class="saveConfiguration btn btn-success">Next</button>
        </div>
        <div class="clearfix"></div>
    </div>
    
</div>

{{> setup.footer }}
